/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar{
  background-color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
}

.navBar img{
  margin-left: 5%;
  width: 150px;
  height: 60px;
}

.menuBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menuBar ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.menuBar ul li{
  margin-left: 20px;
  font-size: 20px;
}