header{
  display: flex;
  align-items: center;
  margin-top: 10%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.container{
  border-color: blueviolet;
  border-style: solid;
  border-radius: 5px;
  padding: 3%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
height: 100%;
}

.form{
  display: flex;
  flex-direction: column;

}

.form div{
  margin-bottom: 3%;
}

.inputStyle input {
  padding: 2%;
    width: 500px;
    border-radius: 5px;
}

.inputStyle textarea{
  padding: 2%;
  width: 500px;
  border-radius: 5px;
}

.title{
  display: flex;
  flex-direction: column;

}

h1{
  color: blueviolet;
  font-size: 20px;
  margin-bottom: 5px;
}

h2{
  font-size: 16px;
  margin-bottom: 3%;
}

.center{
  margin-right: 2%;
  display: flex;
  align-items: center;
}



.ListCheckbox{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  justify-content: space-around;
}

.center input{
  margin-right: 5px;
}

#btnEnviar{
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}

#btnLimpar{
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}