* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


.navBar{
  background-color: #360763;
  height: 5rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.navBar div {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: max-content;
  justify-content: space-around;
}

.navBar img{
  height: 4rem;
}

.navBar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.menuBar ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ul li a{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: ghostwhite;
  text-decoration: none;
}
ul li a:hover{
  color: deeppink;
}

.firstPage {
  padding: 0 3rem;
  background-image: url(../imagens/rocketBackground.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 5rem);
}

.firstPage div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  height: 90%;
  gap: 2rem;
}

.firstPage img{
  height: calc(100vh - 5rem);
}

.firstPage h1{
  font-size: 40px;
  font-weight: bold;
  color: ghostwhite;
  top: 20%;
}

.firstPage h2{
  width: 50%;
  font-size: 20px;
  color:  ghostwhite;
}

.btnContact{
  outline:none;
  text-align: center;
  border-radius:40px;
  background-color: transparent;
  border: 2px solid deeppink;
  color: ghostwhite;
  letter-spacing:1px;
  height: 50px;
  width: 150px;
}

.btnContact a{
  text-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color:deeppink;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  transition: all 0.20s ease;
}

.btnContact a:hover{

  color:white;
}

.firstPage button:hover{
  
  background: deeppink;
}

.buttonContact{
  outline:none;
  text-align: center;
  border-radius:40px;
  background-color: transparent;
  border: 2px solid deeppink;
  color:deeppink;
  letter-spacing:1px;
  text-shadow: none;
  cursor: pointer;
  transition: all 0.25s ease;
  height: 30px;
  width: 100px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}
.buttonContact:hover{
  background: deeppink;
}

.buttonContact a{
  color:ghostwhite;
  text-decoration: none;
}
.buttonContact:hover a:hover{
  color:white;
}

#container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  border: #000 2px solid;
  height: 600px;
}

#container .card {
  position: relative;
  padding: 10px;
  width: 300px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  height: 500px;
}

#container .card img {
  transition: 0.5s;
  height: 50px;
}

#container .card h1 {
  font-size: 2rem;
}

#container .card {
  padding: 20px;
  text-align: center;
}

#container .card p {
  color: #666;
  transition: 0.5s;
}

#container .card a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 80px;
}

#container .card:hover {
  background-color: deeppink;
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #dc2e685d;
  border-color: deeppink;
}

#container .card:hover img {
  filter: invert(1);
}

#container .card:hover p {
  color: white;
}

#container .card:hover a{
  color:black;
  background-color: white;
}

#boxEmail{
  background-color: #360763;
  display: flex;
  justify-content: center;
  height: 350px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
   margin: 0 auto;
}

.boxItems{
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 70%;
}
.boxItems h1{
  color: #fff;
    font-weight: 800;
    font-size: 2.8em;
    padding: 0.3em 0 0.3em;
    letter-spacing: -0.06em;
    text-transform: lowercase;
}
.boxItems p{
  color: #fff;
    line-height: 1.618em;
    font-size: 1.1em;
    font-weight: 300;
}

.boxItems img{
  height: 100px;

}

.inputBox{
  padding: 2em 0 0;
}

.inputBox input[type="email"]{
  font-size: 1em;
  border: 2px solid #fff;
  color: black;
  width: 500px;
  padding: 15px 20px;
  border-radius: 200px;
  margin-right: 10px;

}

.inputBox input[type="button"]{
  font-size: 1em;
    background: #202633;
    border: 2px solid #202633;
    color: #fff;
    padding: 16px 30px;
    border-radius: 200px;
    text-transform: uppercase;
}

.inputBox input[type="button"]:hover{
  background: #fff;
  color:  black;
  transform: scale(1.1);
  border: none;
}