* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}

.navBar{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.navBar img{
  margin-left: 5%;
  width: 150px;
  height: 60px;
}

.menuBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  right: 30px;
  left: 20px;
  position: absolute;
}

.menuBar ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.menuBar ul li{
  margin-left: 20px;
}

ul li a{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.firstPage{
  display: flex;
  padding-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2%;
}

.firstPage h1{
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.firstPage h2{
  width: 50%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 5%;
}

#buttonContact{
  left: 80%;
  position: absolute;
  height: 30px;
  width: 100px;
  font-family: 'Quicksand', sans-serif;

}

header{
  display: flex;
  align-items: center;
  margin-top: 10%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.container{
  border-color: blueviolet;
  border-style: solid;
  border-radius: 5px;
  padding: 3%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
height: 100%;
}

.form{
  display: flex;
  flex-direction: column;

}

.form div{
  margin-bottom: 3%;
}

.inputStyle input {
  padding: 2%;
    width: 500px;
    border-radius: 5px;
}

.inputStyle textarea{
  padding: 2%;
  width: 500px;
  border-radius: 5px;
}

.title{
  display: flex;
  flex-direction: column;

}

h1{
  color: blueviolet;
  font-size: 20px;
  margin-bottom: 5px;
}

h2{
  font-size: 16px;
  margin-bottom: 3%;
}

.center{
  margin-right: 2%;
  display: flex;
  align-items: center;
}



.ListCheckbox{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  justify-content: space-around;
}

.center input{
  margin-right: 5px;
}

#btnEnviar{
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}

#btnLimpar{
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}
	